body, html {
	background-color: #202020;
	height: 100%;
	font-family: "Verdana", Geneva, sans-serif;
}

ul {
  list-style-type: none;
  position: relative;
  overflow: hidden;
  background-color: #080808;
  font-family: "Verdana", Geneva, sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #484848;
}
.active {
	background-color: #003366;
}

@media only screen and (max-width:749px) {
  .bg1, .bg2 {
    background-attachment: scroll;
     background-size: 100% 100%;
   }
}

.bg1, .bg2 {
	position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.divider {
	padding-top:15px;
	height: 30px;
	background-color: #383838;
	color: white;
	text-align: center;
	font-family: "Verdana", Geneva, sans-serif
}
.project-desc {
	border-radius: 25px;
	text-align: center;
	float: right; 
    width:800px; 
	background-color: #adaba6;
    height:800px; 
}
.screenshot {
	float:left; 
    width:180px; 
    height:160px; 
}

.bg1 {
	background-image: url("assets/background_images/bg1.jpg");
	min-height: 100%;
}
.bg2 {
	background-image: url("assets/background_images/bg2.jpg");
	min-height: 100%;
}
.canvas {
	padding: 80px 10px;
	position: relative;
}
.timeline ul{
	list-style-type: none;
	display: block;
}
.hangman-button {
	background-color: #4CAF50;
	border: none;
	font-family: "Verdana", Geneva, sans-serif;
	size: 150px 150px;
}