.navbar {
	position: fixed top;
	background-color: #3b8dd4;
}
.nav-link, .navbar-brand {
	color: white;
	cursor: pointer;
}
.nav-link {
	margin-right: 1px;
}
.nav-link:hover {
	background: #4aacd6;
}
.navbar-collapse {
	justify-content: flex-end;
}
.navbar-toggler {
	background: #4aacd6;
}
.active {
	background-color: #003366;
}

.Guess {
	margin-top: 50px;
	text-align: center;
	background-color: transparent;
}
input {
	outline: none;
	background: transparent;
}
label {
	color: black;
}
input {
	color: white;
}
canvas {
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#ai_guesser {
	color: black;
	font-size: 32px;
}
#ai_rightorwrong {
	color: black;
	font-size: 32px;
}
#Score {
	font-size: 64px;
	color: black;
}
#scoretext {
	color: black;
}